* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
}

.bg {
    background: url("https://images.pexels.com/photos/6326380/pexels-photo-6326380.jpeg") no-repeat center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -100;
}

.loading-text {
    font-size: 100px;
    color: beige;
    text-align: center;
    z-index: 100;
}